.code-block {
    background-color: #F4EEE9;
    color: #5e767c;
    font-weight: bold;
    padding: 16px;
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    display: block;
    width: 100%;
    white-space: pre;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    text-overflow: ellipsis;
}

.icon-overlay {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
