.code-block {
    background-color: rgb(244, 238, 233);
    color: #006167;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    display: block;
    width: 100%;
    border: 1px solid rgb(206, 206, 206);
    white-space: pre;
    position: relative;
    cursor: pointer;
}

.icon-overlay {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
